@import "variables";

.app {
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;

    .app-container-container {
        margin-top: 50px;
    }

    .component-header {
		color: $white;
	}

    .structure {
        margin-top: 50px;
    }

    .to-dropdown {
        margin-top: 20px;
    }

    input, select {
		height: 40px;
		padding-left: 10px;
		width: 100%;
	}

    .to-input-set-container[data-invalid-type="currency"] {
        .currency-select-dropdown {
            border: 1px solid $error-1;
        }
    }
}
