$brand-color: #167F92;

// single colors
$orange: #FFA500;
$white: #fff;

// the greys
$grey-1: #ccc;

// the blacks
$light-black-1: #666;

// error colors
$error-1: #dc3545;

// breakpoints
$desktop: 720px;

// mixins

@mixin input-error {
    border: 3px solid $error-1;
}
